<a href="https://colab.research.google.com/github/aaguirrej/Coursera_Capstone/blob/master/Toronto_cluster_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting Downtown Toronto Notebook

## Assignment 1: Create Dataframe for Toronto Postal Codes

In [0]:
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

In [0]:
toronto_postal=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [3]:
toronto_postal.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [0]:
toronto_postal_1=toronto_postal[toronto_postal.Borough != 'Not assigned']

In [0]:
toronto_postal_1.reset_index(drop=True, inplace=True)

In [6]:
toronto_postal_1

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [9]:
strJoin = lambda x:", ".join(x.astype(str)) 
toronto_postal_2 = toronto_postal_1.groupby(['Postcode','Borough'])['Neighbourhood'].agg({"Neighbourhood":strJoin})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [0]:
toronto_postal_2.reset_index(inplace=True)

In [12]:
toronto_postal_2.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

In [81]:
toronto_postal_2.shape

(103, 3)

## Assignment 2: Add latitudes and longitudes to Postal Code Dataframe

In [13]:
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [0]:
geo_data = pd.read_csv('Geospatial_Coordinates.csv')

In [16]:
geo_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [0]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [0]:
toronto_postal_merged = pd.merge(left=toronto_postal_2, right=geo_data, left_on='Postcode', right_on='Postal Code')

In [0]:
toronto_postal_final=toronto_postal_merged.drop(columns=['Postal Code']).rename(columns={"Postcode": "Postalcode"})

In [32]:
toronto_postal_final

    Postalcode      Borough  ...   Latitude  Longitude
0          M1B  Scarborough  ...  43.806686 -79.194353
1          M1C  Scarborough  ...  43.784535 -79.160497
2          M1E  Scarborough  ...  43.763573 -79.188711
3          M1G  Scarborough  ...  43.770992 -79.216917
4          M1H  Scarborough  ...  43.773136 -79.239476
..         ...          ...  ...        ...        ...
98         M9N         York  ...  43.706876 -79.518188
99         M9P    Etobicoke  ...  43.696319 -79.532242
100        M9R    Etobicoke  ...  43.688905 -79.554724
101        M9V    Etobicoke  ...  43.739416 -79.588437
102        M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]

## Assignment 3: Clustering Downtown Toronto

In [33]:
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

/bin/bash: conda: command not found
Libraries imported.

Examine city of Toronto

In [34]:
address = 'Toronto, ON'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.

In [0]:
# create map of Toronto using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighbourhood in zip(toronto_postal_final['Latitude'], toronto_postal_final['Longitude'], toronto_postal_final['Borough'], toronto_postal_final['Neighbourhood']):
    label = '{}, {}'.format(neighbourhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

Select Downtown Toronto borough for clustering

In [38]:
downtown_data = toronto_postal_final[toronto_postal_final['Borough'] == 'Downtown Toronto'].reset_index(drop=True)
downtown_data.head()

  Postalcode           Borough  ...   Latitude  Longitude
0        M4W  Downtown Toronto  ...  43.679563 -79.377529
1        M4X  Downtown Toronto  ...  43.667967 -79.367675
2        M4Y  Downtown Toronto  ...  43.665860 -79.383160
3        M5A  Downtown Toronto  ...  43.654260 -79.360636
4        M5B  Downtown Toronto  ...  43.657162 -79.378937

[5 rows x 5 columns]

In [39]:
address = 'Downtown Toronto, ON'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(address, latitude, longitude))

The geograpical coordinate of Downtown Toronto, ON are 43.6563221, -79.3809161.

In [0]:
# create map of Downtown Toronto using latitude and longitude values
map_downtown = folium.Map(location=[latitude, longitude], zoom_start=15)

# add markers to map
for lat, lng, label in zip(downtown_data['Latitude'], downtown_data['Longitude'], downtown_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_downtown)  
    
map_downtown

In [48]:
CLIENT_ID = 'J5TLXRXUA0ICKXBDP2DWBFZESZW0243VF3LK10DDXNU24ROU' # your Foursquare ID
CLIENT_SECRET = 'GZ2FIULN2FYFFNUWTAMXI0V2BI52TBRAN2KWTXMAHPAE20EX' # your Foursquare Secret
VERSION = '20200301' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: J5TLXRXUA0ICKXBDP2DWBFZESZW0243VF3LK10DDXNU24ROU
CLIENT_SECRET:GZ2FIULN2FYFFNUWTAMXI0V2BI52TBRAN2KWTXMAHPAE20EX

In [49]:
downtown_data.loc[0, 'Neighbourhood']

'Rosedale'

In [0]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [53]:
downtown_venues = getNearbyVenues(names=downtown_data['Neighbourhood'],
                                   latitudes=downtown_data['Latitude'],
                                   longitudes=downtown_data['Longitude']
                                  )

Rosedale
Cabbagetown, St. James Town
Church and Wellesley
Harbourfront
Ryerson, Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide, King, Richmond
Harbourfront East, Toronto Islands, Union Station
Design Exchange, Toronto Dominion Centre
Commerce Court, Victoria Hotel
Harbord, University of Toronto
Chinatown, Grange Park, Kensington Market
CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place, Underground city
Christie
Queen's Park

In [54]:
print(downtown_venues.shape)
downtown_venues.head()

(1319, 7)

                 Neighbourhood  ...  Venue Category
0                     Rosedale  ...      Playground
1                     Rosedale  ...            Park
2                     Rosedale  ...            Park
3                     Rosedale  ...           Trail
4  Cabbagetown, St. James Town  ...           Diner

[5 rows x 7 columns]

In [59]:
pd.DataFrame(downtown_venues.groupby('Neighbourhood')['Venue'].count().reset_index())

                                        Neighbourhood  Venue
0                            Adelaide, King, Richmond    100
1                                         Berczy Park     57
2   CN Tower, Bathurst Quay, Island airport, Harbo...     18
3                         Cabbagetown, St. James Town     42
4                                  Central Bay Street     80
5           Chinatown, Grange Park, Kensington Market     90
6                                            Christie     18
7                                Church and Wellesley     86
8                      Commerce Court, Victoria Hotel    100
9            Design Exchange, Toronto Dominion Centre    100
10             First Canadian Place, Underground city    100
11                     Harbord, University of Toronto     37
12                                       Harbourfront     49
13  Harbourfront East, Toronto Islands, Union Station    100
14                                       Queen's Park     42
15                                           Rosedale      4
16                           Ryerson, Garden District    100
17                                     St. James Town    100
18                    Stn A PO Boxes 25 The Esplanade     96

In [60]:
print('There are {} uniques categories.'.format(len(downtown_venues['Venue Category'].unique())))

There are 206 uniques categories.

In [61]:
# one hot encoding
downtown_onehot = pd.get_dummies(downtown_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
downtown_onehot['Neighbourhood'] = downtown_venues['Neighbourhood'] 

# move neighborhood column to the first column
fixed_columns = [downtown_onehot.columns[-1]] + list(downtown_onehot.columns[:-1])
downtown_onehot = downtown_onehot[fixed_columns]

downtown_onehot.head()

                 Neighbourhood  Afghan Restaurant  ...  Women's Store  Yoga Studio
0                     Rosedale                  0  ...              0            0
1                     Rosedale                  0  ...              0            0
2                     Rosedale                  0  ...              0            0
3                     Rosedale                  0  ...              0            0
4  Cabbagetown, St. James Town                  0  ...              0            0

[5 rows x 207 columns]

In [62]:
downtown_grouped = downtown_onehot.groupby('Neighbourhood').mean().reset_index()
downtown_grouped

                                        Neighbourhood  ...  Yoga Studio
0                            Adelaide, King, Richmond  ...     0.000000
1                                         Berczy Park  ...     0.000000
2   CN Tower, Bathurst Quay, Island airport, Harbo...  ...     0.000000
3                         Cabbagetown, St. James Town  ...     0.000000
4                                  Central Bay Street  ...     0.012500
5           Chinatown, Grange Park, Kensington Market  ...     0.000000
6                                            Christie  ...     0.000000
7                                Church and Wellesley  ...     0.011628
8                      Commerce Court, Victoria Hotel  ...     0.000000
9            Design Exchange, Toronto Dominion Centre  ...     0.000000
10             First Canadian Place, Underground city  ...     0.000000
11                     Harbord, University of Toronto  ...     0.027027
12                                       Harbourfront  ...     0.020408
13  Harbourfront East, Toronto Islands, Union Station  ...     0.000000
14                                       Queen's Park  ...     0.023810
15                                           Rosedale  ...     0.000000
16                           Ryerson, Garden District  ...     0.000000
17                                     St. James Town  ...     0.000000
18                    Stn A PO Boxes 25 The Esplanade  ...     0.000000

[19 rows x 207 columns]

In [0]:
num_top_venues = 5

for hood in downtown_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = downtown_grouped[downtown_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [67]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)
neighbourhoods_venues_sorted['Neighbourhood'] = downtown_grouped['Neighbourhood']

for ind in np.arange(downtown_grouped.shape[0]):
    neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(downtown_grouped.iloc[ind, :], num_top_venues)

neighbourhoods_venues_sorted.head()

                                       Neighbourhood  ... 10th Most Common Venue
0                           Adelaide, King, Richmond  ...                 Bakery
1                                        Berczy Park  ...             Restaurant
2  CN Tower, Bathurst Quay, Island airport, Harbo...  ...        Harbor / Marina
3                        Cabbagetown, St. James Town  ...                Butcher
4                                 Central Bay Street  ...       Department Store

[5 rows x 11 columns]

k-means Clustering Downtown Toronto venues

In [68]:
# set number of clusters
kclusters = 5

downtown_grouped_clustering = downtown_grouped.drop('Neighbourhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(downtown_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 2, 3, 2, 0, 2, 4, 2, 2, 2], dtype=int32)

In [69]:
# add clustering labels
neighbourhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

downtown_merged = downtown_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
downtown_merged = downtown_merged.join(neighbourhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood')

downtown_merged.head() # check the last columns!

  Postalcode           Borough  ... 9th Most Common Venue  10th Most Common Venue
0        M4W  Downtown Toronto  ...        Discount Store                   Diner
1        M4X  Downtown Toronto  ...             Gastropub                 Butcher
2        M4Y  Downtown Toronto  ...                 Hotel               Gastropub
3        M5A  Downtown Toronto  ...        Breakfast Spot       Electronics Store
4        M5B  Downtown Toronto  ...    Italian Restaurant            Burger Joint

[5 rows x 16 columns]

In [71]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=14)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(downtown_merged['Latitude'], downtown_merged['Longitude'], downtown_merged['Neighbourhood'], downtown_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

Examine clusters

In [76]:
downtown_merged.loc[downtown_merged['Cluster Labels'] == 0, downtown_merged.columns[[1] + list(range(5, downtown_merged.shape[1]))]]

             Borough  ...  10th Most Common Venue
7   Downtown Toronto  ...        Department Store
18  Downtown Toronto  ...          Sandwich Place

[2 rows x 12 columns]

In [77]:
downtown_merged.loc[downtown_merged['Cluster Labels'] == 1, downtown_merged.columns[[1] + list(range(5, downtown_merged.shape[1]))]]

            Borough  ...  10th Most Common Venue
0  Downtown Toronto  ...                   Diner

[1 rows x 12 columns]

In [78]:
downtown_merged.loc[downtown_merged['Cluster Labels'] == 2, downtown_merged.columns[[1] + list(range(5, downtown_merged.shape[1]))]]

             Borough  ...  10th Most Common Venue
1   Downtown Toronto  ...                 Butcher
2   Downtown Toronto  ...               Gastropub
3   Downtown Toronto  ...       Electronics Store
4   Downtown Toronto  ...            Burger Joint
5   Downtown Toronto  ...      Italian Restaurant
6   Downtown Toronto  ...              Restaurant
8   Downtown Toronto  ...                  Bakery
9   Downtown Toronto  ...     Sporting Goods Shop
10  Downtown Toronto  ...      Italian Restaurant
11  Downtown Toronto  ...     Japanese Restaurant
12  Downtown Toronto  ...              Beer Store
13  Downtown Toronto  ...     Arts & Crafts Store
15  Downtown Toronto  ...          Breakfast Spot
16  Downtown Toronto  ...                     Gym

[14 rows x 12 columns]

In [79]:
downtown_merged.loc[downtown_merged['Cluster Labels'] == 3, downtown_merged.columns[[1] + list(range(5, downtown_merged.shape[1]))]]

             Borough  ...  10th Most Common Venue
14  Downtown Toronto  ...         Harbor / Marina

[1 rows x 12 columns]

In [80]:
downtown_merged.loc[downtown_merged['Cluster Labels'] == 4, downtown_merged.columns[[1] + list(range(5, downtown_merged.shape[1]))]]

             Borough  ...  10th Most Common Venue
17  Downtown Toronto  ...                   Diner

[1 rows x 12 columns]

Based on the clustering performed above, Downtown Toronto can be segmented in the followin clusters:
0 Coffee and Restaurant cluster
1 Park and fitness cluster
2 Coffee, Bar and Restaurant cluster
3 Airport Services cluster
4 Grocery cluster